img {
  height: 200px;
  width: 200px;
}

.color-title {
  font-weight: normal;
}
.cyan-box {
  background-color: cyan;
  color: black;
  text-align: center;
  padding: 20px;
  margin: 10px 0;
  font-size: 24px;
}
#red {
  color: red;
}

#blue {
  color: blue;
}

#orange {
  color: orange;
}

#green {
  color: green;
}

#yellow {
  color: yellow;
}
